Source: iodata
Section: misc
Priority: optional
Maintainer: Ilya Dogolazky <ilya.dogolazky@nokia.com>
Build-Depends: debhelper (>= 4.1.0),
 libqmlog-dev,
 libqt4-dev (>= 4.5)
Standards-Version: 3.7.2

Package: libiodata0
Architecture: any
Depends: ${shlibs:Depends}
Description: library for input/ouput data
 This package provides a library for writing and reading structured data

Package: libiodata0-dbg
Architecture: any
Depends: libiodata0 (= ${binary:Version})
Description: debug symbols for libiodata0
 This package contains debug information for libiodata0

Package: libiodata-dev
Architecture: any
Depends: libiodata0 (= ${binary:Version}), libqt4-dev (>= 4.5)
Description: development package for libiodata
 Provides header files for iodata library

Package: iodata-tests
Architecture: any
Depends: ${shlibs:Depends}, ci-testing
XB-Maemo-CI-Packages: libiodata0
XB-Maemo-CI-Stage: fast, staging, acceptance, validation
Section: tests
Description: testcases for iodata library

Package: iodata-tests-dbg
Architecture: any
Depends: iodata-tests (= ${binary:Version})
Description: debug symbols for testcases
